$primary: #fddb92;
$secondary: #d1fdff;
$dark: #131313;
$dark-medium: rgba($dark, 0.9);
$dark-light: rgba($dark, 0.6);

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../img/9B5A6490.JPG");
  background-size: contain;
  background-position: right top;
  position: relative;

  @media (max-width: 992px) {
    background-size: cover;
    background-position-x: 60%;
  }
  @media (max-width: 768px) {
    background-position-x: 40%;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      90deg,
      rgba($primary, 1) 0%,
      rgba($secondary, 0.5) 100%
    );
  }

  .content {
    position: relative;
    z-index: 10;
    padding: 50px;
    font-size: 2rem;
    // Large devices (desktops, 992px and up)
    @media (max-width: 992px) {
      font-size: 1.5rem;
    }
    // Medium devices (tablets, 768px and up)
    @media (max-width: 768px) {
      font-size: 1.25rem;
      padding: 50px 30px;
    }

    h1 {
      font-size: 4rem;
      font-weight: 900;
      color: $dark-medium;
      margin-top: -20px;
    }
    h4 {
      color: $dark-light;
    }
  }
}

.contact {
  margin-top: 1rem;
  color: $secondary;

  a {
    color: $dark-light;
  }
}
